@import "tailwindcss";

:root {
  --background: #09090b; /* zinc-950 (Gece Siyahı) */
  --foreground: #f4f4f5; /* zinc-100 (Mat Beyaz) */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Sürgü (Slider) için tarayıcı uyumlu özel neon gölge temizliği */
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0 0 10px currentColor;
  transition: transform 0.1s ease;
}

input[type="range"]::-webkit-slider-thumb:active {
  transform: scale(1.2);
}
